extends layout

block content
   h1 #{name}
   form(method='POST', action='/accommodations/add')
     #form-groud
       label Accommodation Name:
       input.form-control(name='name',type='text')
     #form-groud
      br
      h4 Contact Details
     
      .row.g-3 
          .col-sm-6
            label Telephone:
            input.form-control(name='telephone',type='number')
            
          .col-sm-6         
            label Email:
            input.form-control(name='accEmail',type='text' )
     br
     #form-groud
       label Address:
       textarea.form-control(name='address')
     #form-groud
      label Time to Campus:
      input.form-control(name='time',type='text' )
     br
     #form-groud
      h4 Prices for Rooms
     
      .row.g-3 
          .col-sm-6
            label Single:
            input.form-control(name='singlePrice',type='text',value='R')
            
          .col-sm-6         
            label Sharing:
            input.form-control(name='sharingPrice',type='text',value='R' )
     #form-groud
      hr.my-4
      h4 Accepted Payments
      .form-check
        input.form-check-input(type='checkbox',name='nsfas',value='true')
        label NSFAS
      .form-check
        input.form-check-input(type='checkbox',name='card',value='true')
        label Card(credit, debit, Student Loan)
      .form-check
        input.form-check-input(type='checkbox',name='cash',value='true')
        label Cash 
      hr.my-4
      #form-groud
      h5 Available Number of Rooms
     
      .row.g-3 
          .col-sm-6
            label Male:
            input.form-control(name='male',type='text')
            
          .col-sm-6         
            label Female:
            input.form-control(name='female',type='text' )
    
      
      br
     input.btn.btn-primary(type='submit', value='Submit')
